* text=auto eol=lf
*.ysl linguist-language=qml

*.js linguist-detectable=false
*.mjs linguist-detectable=false
*.cjs linguist-detectable=false
*.mdx linguist-detectable=false
*.css linguist-detectable=false
*.qml linguist-detectable=false