node_modules
dist
build
.next

README.md

.DS_Store
.vscode

pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
.env.*

.gitignore
.npmignore

.turbo
turbo-lint.log
.source

turbo/generators/templates/**/*.hbs
