:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.209 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.209 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6993 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.5244 0.0093 358.0669);
  --accent: oklch(0.8665 0.0304 251.3051);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5538 0.1153 76.8511);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.8078 0 0);
  --ring: oklch(0.209 0 0);
  --chart-1: oklch(0.209 0 0);
  --chart-2: oklch(0.5243 0.21 328.768);
  --chart-3: oklch(0.6993 0 0);
  --chart-4: oklch(0.6017 0.193 263.2461);
  --chart-5: oklch(0.4926 0 0);
  --sidebar: oklch(0.9642 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.209 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.209 0 0);
  --radius: 16px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 10px 0px oklch(0 0 0 / 0.04);
  --shadow-xs: 0px 0px 10px 0px oklch(0 0 0 / 0.04);
  --shadow-sm:
    0px 0px 10px 0px oklch(0 0 0 / 0.08), 0px 1px 2px -1px oklch(0 0 0 / 0.08);
  --shadow:
    0px 0px 10px 0px oklch(0 0 0 / 0.08), 0px 1px 2px -1px oklch(0 0 0 / 0.08);
  --shadow-md:
    0px 0px 10px 0px oklch(0 0 0 / 0.08), 0px 2px 4px -1px oklch(0 0 0 / 0.08);
  --shadow-lg:
    0px 0px 10px 0px oklch(0 0 0 / 0.08), 0px 4px 6px -1px oklch(0 0 0 / 0.08);
  --shadow-xl:
    0px 0px 10px 0px oklch(0 0 0 / 0.08), 0px 8px 10px -1px oklch(0 0 0 / 0.08);
  --shadow-2xl: 0px 0px 10px 0px oklch(0 0 0 / 0.2);
}

.dark {
  --background: oklch(0.2478 0 0);
  --foreground: oklch(0.9642 0 0);
  --card: oklch(0.285 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.9642 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.4313 0 0);
  --secondary-foreground: oklch(0.9642 0 0);
  --muted: oklch(0.2283 0.008 4.121);
  --muted-foreground: oklch(0.7324 0.0011 17.184);
  --accent: oklch(0.4606 0.053 235.9102);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6813 0.1818 0.9701);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3132 0 0);
  --input: oklch(0.4128 0 0);
  --ring: oklch(0.5965 0.1944 23.4408);
  --chart-1: oklch(0.6233 0.2283 23.5924);
  --chart-2: oklch(0.6398 0.1415 66.8954);
  --chart-3: oklch(0.7552 0.1466 23.6271);
  --chart-4: oklch(0.4446 0.1078 56.7856);
  --chart-5: oklch(0.446 0.1817 26.8597);
  --sidebar: oklch(0.209 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.6962 0.1942 23.6149);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.209 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3132 0 0);
  --sidebar-ring: oklch(0.5965 0.1944 23.4408);
  --radius: 16px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 8px 0px oklch(0 0 0 / 0.07);
  --shadow-xs: 0px 0px 8px 0px oklch(0 0 0 / 0.07);
  --shadow-sm:
    0px 0px 8px 0px oklch(0 0 0 / 0.15), 0px 1px 2px -1px oklch(0 0 0 / 0.15);
  --shadow:
    0px 0px 8px 0px oklch(0 0 0 / 0.15), 0px 1px 2px -1px oklch(0 0 0 / 0.15);
  --shadow-md:
    0px 0px 8px 0px oklch(0 0 0 / 0.15), 0px 2px 4px -1px oklch(0 0 0 / 0.15);
  --shadow-lg:
    0px 0px 8px 0px oklch(0 0 0 / 0.15), 0px 4px 6px -1px oklch(0 0 0 / 0.15);
  --shadow-xl:
    0px 0px 8px 0px oklch(0 0 0 / 0.15), 0px 8px 10px -1px oklch(0 0 0 / 0.15);
  --shadow-2xl: 0px 0px 8px 0px oklch(0 0 0 / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
