:root {
  --background: oklch(0.9783 0.0067 295.4527);
  --foreground: oklch(0.3038 0.0198 293.5244);
  --card: oklch(0.9981 0.0017 325.5889);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9981 0.0017 325.5889);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.4927 0.2257 289.3142);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5708 0.1987 354.2486);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9432 0.0246 298.6077);
  --muted-foreground: oklch(0.5233 0.0333 298.3102);
  --accent: oklch(0.7744 0.1137 229.8444);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6003 0.1876 33.376);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.9013 0.0403 299.7461);
  --input: oklch(0.802 0.0402 300.1531);
  --ring: oklch(0.5922 0.2262 289.4264);
  --chart-1: oklch(0.5748 0.1972 289.1723);
  --chart-2: oklch(0.6161 0.1246 231.2949);
  --chart-3: oklch(0.7386 0.1395 289.5504);
  --chart-4: oklch(0.4368 0.0965 237.7333);
  --chart-5: oklch(0.4058 0.205 289.6184);
  --sidebar: oklch(0.9783 0.0067 295.4527);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.4927 0.2257 289.3142);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9981 0.0017 325.5889);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9013 0.0403 299.7461);
  --sidebar-ring: oklch(0.5922 0.2262 289.4264);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 0.281rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.563rem;
  --radius-xl: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
  --shadow-sm:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 1px 2px -1px oklch(0 0 0 / 0.12);
  --shadow:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 1px 2px -1px oklch(0 0 0 / 0.12);
  --shadow-md:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 2px 4px -1px oklch(0 0 0 / 0.12);
  --shadow-lg:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 4px 6px -1px oklch(0 0 0 / 0.12);
  --shadow-xl:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 8px 10px -1px oklch(0 0 0 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0 0 0 / 0.3);
}

.dark {
  --background: oklch(0.2115 0.0332 288.6098);
  --foreground: oklch(0.9486 0.022 300.2022);
  --card: oklch(0.1806 0.0344 287.834);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1806 0.0344 287.834);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7328 0.1495 290.5348);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7703 0.1402 8.7086);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2297 0.06 287.8966);
  --muted-foreground: oklch(0.7349 0.0387 287.1042);
  --accent: oklch(0.4532 0.0835 221.6175);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6918 0.1997 33.2464);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3168 0.0733 286.8877);
  --input: oklch(0.4182 0.0724 286.9903);
  --ring: oklch(0.6331 0.1496 290.4918);
  --chart-1: oklch(0.6345 0.1411 290.4105);
  --chart-2: oklch(0.6414 0.1142 216.4105);
  --chart-3: oklch(0.7943 0.1126 291.058);
  --chart-4: oklch(0.4532 0.0835 221.6175);
  --chart-5: oklch(0.4403 0.1223 290.661);
  --sidebar: oklch(0.2115 0.0332 288.6098);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7328 0.1495 290.5348);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.1709 0.0328 288.1431);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3168 0.0733 286.8877);
  --sidebar-ring: oklch(0.6331 0.1496 290.4918);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 0.281rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.563rem;
  --radius-xl: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
  --shadow-sm:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 1px 2px -1px oklch(0 0 0 / 0.12);
  --shadow:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 1px 2px -1px oklch(0 0 0 / 0.12);
  --shadow-md:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 2px 4px -1px oklch(0 0 0 / 0.12);
  --shadow-lg:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 4px 6px -1px oklch(0 0 0 / 0.12);
  --shadow-xl:
    0px 2px 8px 0px oklch(0 0 0 / 0.12), 0px 8px 10px -1px oklch(0 0 0 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0 0 0 / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
