:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.2046 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.8371 0.1315 160.6423);
  --primary-foreground: oklch(0.2046 0 0);
  --secondary: oklch(0.5851 0.0019 145.5514);
  --secondary-foreground: oklch(0.9911 0 0);
  --muted: oklch(0.9479 0.0025 345.2133);
  --muted-foreground: oklch(0.5619 0.0086 345.5409);
  --accent: oklch(0.9363 0.0644 160.8369);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5523 0.1927 32.7272);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9037 0 0);
  --input: oklch(0.9273 0.0032 17.2159);
  --ring: oklch(0.5382 0.1051 156.2322);
  --chart-1: oklch(0.531 0.0932 156.0739);
  --chart-2: oklch(0.531 0.0932 156.0739);
  --chart-3: oklch(0.7125 0.0659 155.7725);
  --chart-4: oklch(0.3689 0.0923 154.392);
  --chart-5: oklch(0.3689 0.0923 154.392);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.8371 0.1315 160.6423);
  --sidebar-primary-foreground: oklch(0.2046 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9037 0 0);
  --sidebar-ring: oklch(0.5382 0.1051 156.2322);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 0.281rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.563rem;
  --radius-xl: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0px 2px 8px 0px oklch(0 0 0 / 0.05);
  --shadow-sm:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0px 2px 8px 0px oklch(0 0 0 / 0.25);
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2393 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.173 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7624 0.1544 159.3551);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7058 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.1933 0.0084 4.3389);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.4608 0.1124 155.7093);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.7624 0.1544 159.3551);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3012 0 0);
  --input: oklch(0.3407 0 0);
  --ring: oklch(0.6647 0.1531 158.9039);
  --chart-1: oklch(0.6589 0.1451 159.2683);
  --chart-2: oklch(0.6589 0.1451 159.2683);
  --chart-3: oklch(0.8173 0.1251 159.2171);
  --chart-4: oklch(0.4608 0.1124 155.7093);
  --chart-5: oklch(0.4608 0.1124 155.7093);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7624 0.1544 159.3551);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.1638 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3012 0 0);
  --sidebar-ring: oklch(0.6647 0.1531 158.9039);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 0.281rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.563rem;
  --radius-xl: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0px 2px 8px 0px oklch(0 0 0 / 0.05);
  --shadow-sm:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl:
    0px 2px 8px 0px oklch(0 0 0 / 0.1), 0px 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0px 2px 8px 0px oklch(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
