:root {
  --background: oklch(0.9943 0.0044 214.3284);
  --foreground: oklch(0.2301 0.0269 287.3557);
  --card: oklch(0.9977 0.0032 197.1065);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9977 0.0032 197.1065);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.4785 0.024 243.7987);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6206 0.1277 232.7074);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.955 0.0359 213.9835);
  --muted-foreground: oklch(0.5045 0.0289 215.4167);
  --accent: oklch(0.7196 0.0618 262.6963);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6206 0.1277 232.7074);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.8649 0.0343 212.8708);
  --input: oklch(0.7657 0.0341 213.4182);
  --ring: oklch(0.5786 0.0237 241.6197);
  --chart-1: oklch(0.5619 0.025 244.0783);
  --chart-2: oklch(0.5456 0.0849 262.1856);
  --chart-3: oklch(0.7313 0.0217 243.525);
  --chart-4: oklch(0.3688 0.1088 262.4021);
  --chart-5: oklch(0.395 0.023 243.4938);
  --sidebar: oklch(0.9943 0.0044 214.3284);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.4785 0.024 243.7987);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9977 0.0032 197.1065);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.8649 0.0343 212.8708);
  --sidebar-ring: oklch(0.5786 0.0237 241.6197);
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0px 2px 4px 0px oklch(0 0 0 / 0.05);
  --shadow-sm:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0px 2px 4px 0px oklch(0 0 0 / 0.25);
}

.dark {
  --background: oklch(0.2565 0.0092 234.0904);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2269 0.0095 234.1906);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2269 0.0095 234.1906);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7219 0.01 242.892);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7564 0.0779 219.6687);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2062 0.0167 252.5283);
  --muted-foreground: oklch(0.7037 0.0074 247.9317);
  --accent: oklch(0.3916 0.0564 264.1446);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.7097 0.1424 230.5858);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.2657 0.0157 252.3955);
  --input: oklch(0.3652 0.016 255.6165);
  --ring: oklch(0.623 0.0093 236.6518);
  --chart-1: oklch(0.6259 0.0112 238.6178);
  --chart-2: oklch(0.5563 0.0666 264.6815);
  --chart-3: oklch(0.8176 0.0079 241.6878);
  --chart-4: oklch(0.3916 0.0564 264.1446);
  --chart-5: oklch(0.4337 0.0143 240.2038);
  --sidebar: oklch(0.2565 0.0092 234.0904);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7219 0.01 242.892);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.2178 0.0085 223.8721);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2657 0.0157 252.3955);
  --sidebar-ring: oklch(0.623 0.0093 236.6518);
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0px 2px 4px 0px oklch(0 0 0 / 0.05);
  --shadow-sm:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl:
    0px 2px 4px 0px oklch(0 0 0 / 0.1), 0px 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0px 2px 4px 0px oklch(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
