:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1881 0.006 285.8056);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.4833 0.2308 284.3325);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6509 0.1092 214.0814);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9499 0.0011 17.1769);
  --muted-foreground: oklch(0.5615 0.008 354.9943);
  --accent: oklch(0.7739 0.1115 228.8517);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5705 0.0245 282.7519);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.9161 0.0013 286.3731);
  --input: oklch(1 0 0);
  --ring: oklch(0.5826 0.2307 284.21);
  --chart-1: oklch(0.567 0.2488 284.3951);
  --chart-2: oklch(0.6151 0.1228 230.1965);
  --chart-3: oklch(0.7248 0.1498 285.937);
  --chart-4: oklch(0.4357 0.0942 236.3616);
  --chart-5: oklch(0.3986 0.2132 284.2536);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.4833 0.2308 284.3325);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9128 0 0);
  --sidebar-ring: oklch(0.5826 0.2307 284.21);
  --radius: 0.625rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 0.469rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.938rem;
  --radius-xl: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: oklch(0.2255 0.0107 260.6812);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.04);
  --shadow-xs: 0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.04);
  --shadow-sm:
    0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.08),
    0px 1px 2px -1px oklch(0.2255 0.0107 260.6812 / 0.08);
  --shadow:
    0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.08),
    0px 1px 2px -1px oklch(0.2255 0.0107 260.6812 / 0.08);
  --shadow-md:
    0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.08),
    0px 2px 4px -1px oklch(0.2255 0.0107 260.6812 / 0.08);
  --shadow-lg:
    0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.08),
    0px 4px 6px -1px oklch(0.2255 0.0107 260.6812 / 0.08);
  --shadow-xl:
    0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.08),
    0px 8px 10px -1px oklch(0.2255 0.0107 260.6812 / 0.08);
  --shadow-2xl: 0px 1px 3px 0px oklch(0.2255 0.0107 260.6812 / 0.2);
}

.dark {
  --background: oklch(0.1881 0.006 285.8056);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2152 0.0078 285.7277);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.16 0.0042 285.9176);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.567 0.2488 284.3951);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3867 0.0168 285.5868);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.199 0.0139 285.0637);
  --muted-foreground: oklch(0.7102 0.0057 286.2526);
  --accent: oklch(0.4684 0.094 230.661);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6434 0.2219 26.0817);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.2499 0.0094 285.702);
  --input: oklch(0.3503 0.0086 285.9479);
  --ring: oklch(0.5447 0.1985 285.1057);
  --chart-1: oklch(0.567 0.2488 284.3951);
  --chart-2: oklch(0.6686 0.1252 224.6977);
  --chart-3: oklch(0.7248 0.1498 285.937);
  --chart-4: oklch(0.4684 0.094 230.661);
  --chart-5: oklch(0.3986 0.2132 284.2536);
  --sidebar: oklch(0.1881 0.006 285.8056);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.645 0.1988 285.2726);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.1462 0.0064 285.5778);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2499 0.0094 285.702);
  --sidebar-ring: oklch(0.5447 0.1985 285.1057);
  --radius: 0.625rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, 'Times New Roman', serif;
  --radius-sm: 0.469rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.938rem;
  --radius-xl: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.35;
  --shadow-color: oklch(0 0 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0 0 0 / 0.17);
  --shadow-xs: 0px 2px 4px 0px oklch(0 0 0 / 0.17);
  --shadow-sm:
    0px 2px 4px 0px oklch(0 0 0 / 0.35), 0px 1px 2px -1px oklch(0 0 0 / 0.35);
  --shadow:
    0px 2px 4px 0px oklch(0 0 0 / 0.35), 0px 1px 2px -1px oklch(0 0 0 / 0.35);
  --shadow-md:
    0px 2px 4px 0px oklch(0 0 0 / 0.35), 0px 2px 4px -1px oklch(0 0 0 / 0.35);
  --shadow-lg:
    0px 2px 4px 0px oklch(0 0 0 / 0.35), 0px 4px 6px -1px oklch(0 0 0 / 0.35);
  --shadow-xl:
    0px 2px 4px 0px oklch(0 0 0 / 0.35), 0px 8px 10px -1px oklch(0 0 0 / 0.35);
  --shadow-2xl: 0px 2px 4px 0px oklch(0 0 0 / 0.88);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
